body {
  background-color: #0f0f23;
}

pre {
  background: #0f0f23;
  color: #ffffff;
}

code {
  color: #ffffff;
}

em {
  color: #ffffff;
  font-style: normal;
  text-shadow: 0 0 5px #ffffff;
}

strong {
  color: #ffff66;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 5px #ffff66;
}

a {
  text-decoration: none;
  color: #009900;
}
